
<!-- container start -->
<div class="container">


  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center">

    <div class="droper droperFile" (click)="file.click()">
      <img [src]="defaulFileUrl" alt="">
    </div>
    <input #file hidden type="file" (change)="readFile($event)">

    <div class="droper" (click)="thumbnail.click()">
      <img [src]="defaultThumbnailUrl" alt="">
    </div>
    <input #thumbnail hidden type="file" (change)="readThumbnail($event)">
  </div>
</div>
<!-- image Drop Zone End -->



</div>
<!-- container End -->





<div class="d-flex justify-content-center">
  
    <div class="s-form">
    
    
    
    
      <div class="pro">
        
        <mat-progress-bar mode="determinate" [value]="prograssBar"></mat-progress-bar>
      </div>
      <br>
      <form [formGroup]="appUpoadForm" >
    
        <div class="container">
          <div class="row">
            <div class="col-md-3 border text-center">
              <img class="placeholders" [src]="defaulFileUrl" alt="" (click)="appUploader.click()">
              <input hidden multiple #appUploader id="appUploader" type="file" (change)="getFileName($event)"> 
              <p>{{fileStatus}}</p>
            </div>
            <div class="col-md-3 border text-center">
              <img class="placeholders" [src]="defaultThumbnailUrl" alt="" (click)="thumbnailUploader.click()">
              <input hidden multiple #thumbnailUploader id="appUploader" type="file" (change)="getThumbnailName($event)"> 
              <p>{{imageStatus}}</p>
              
            </div>
            <div class="col-md-6">
    
    
    
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>App Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="appName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Owner Link</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="by">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                
    
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>version</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="version">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>License</mat-label>
                    <mat-select  formControlName="license">
                       
                      <mat-option value="freeware">FreeWare</mat-option>
                      <mat-option value="paid">Paid</mat-option>
                      <mat-option value="trial">Trial</mat-option>
                    </mat-select>
                   
                  </mat-form-field>
                </div>
              </div>
         
         
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Categorie</mat-label>
                      <mat-select  formControlName="categories">
                       
                        <mat-option value="Games">Games</mat-option>
                        <mat-option value="Softwares">Softwares</mat-option>
                        <mat-option value="Books">Books</mat-option>
                      </mat-select>
                    </mat-form-field>
                     </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Operating System</mat-label>
                        <mat-select  formControlName="operatingSystem">
                      <mat-option value="windows">Windows</mat-option>
                      <mat-option value="mac">Mac</mat-option>
                      <mat-option value="linux">Linux</mat-option>
                      <mat-option value="android">Android</mat-option>
                    </mat-select>
                   
                  </mat-form-field>
                
                </div>
          
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>descriptions</mat-label>
                    <textarea matInput placeholder="about phone details" formControlName="descriptions"></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                </div>
              </div>
            
            
              <div class="row">
                <div class="col-md-12">
                  <div class="text-right">
                       
      
      <button mat-raised-button  color="primary"(click)="submitForm()" >Register</button>
      
      
                  </div>
                </div>
              </div>
    
    
            </div>
          </div>
          
        </div>
      
      
      
      
      
      
      
      
    
      </form> 
    
    
      </div>
    </div>